---
layout: default
---

{% for post in paginator.posts %}
<section>
  <h2>
    <a href='{{ site.url }}{{ site.baseurl }}{{ post.url }}' title='{{ post.title }}'>
      <img src="{{ post.image }}" alt="{{ post.title }}" width="50" />{{ post.title }}
    </a>
  </h2>

</section>
{% endfor %}

{% if paginator.previous_page %}
<a href='{{ site.url }}{{ site.baseurl }}{{ paginator.previous_page_path }}'>Previous</a>
{% endif %}

&mdash; {{ paginator.page }} of {{ paginator.total_pages }} &mdash;

{% if paginator.next_page %}
<a href='{{ site.url }}{{ site.baseurl }}{{ paginator.next_page_path }}'>Next</a>
{% endif %}